data/raw/cicids2017.zip filter=lfs diff=lfs merge=lfs -text
data/raw/MachineLearningCSV/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/Week_filtered.csv filter=lfs diff=lfs merge=lfs -text
data/cleaned/*.csv filter=lfs diff=lfs merge=lfs -text
data/cleaned/cicids2017_cleaned_nids.csv filter=lfs diff=lfs merge=lfs -text
data/processed/*.npy filter=lfs diff=lfs merge=lfs -text
